<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit todo</h1>

    <form action="/todo/{{current_todo.id}}/update" method="POST">
        <div>
            <label for="todo">
                Edit todo:
            </label>
            <input type="text" id="todo" name="todo" value="{{ current_todo.todo }}">
        </div>
        <div>
            <label for="status">
               Edit Status:
            </label>
            <select name="status" id="status">
                <option value="Complete" {% if current_todo.status == "Complete" : %} selected {% endif %}>Complete</option>
                <option value="In_Progress" {% if current_todo.status == "In_Progress" : %} selected {% endif %}>In Progress</option>
                <option value="Cancelled" {% if current_todo.status == "Cancelled" : %} selected {% endif %}>Cancelled</option>
            </select>
        </div>
        <button type="submit">Edit</button>
    </form>
    
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

</body>
</html>