<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Todo Form</title>
</head>
<body>
    <form action="/todo/new" method="POST">
        <div>
            <label for="todo">
                New todo:
            </label>
            <input type="text" id="todo" name="todo">
        </div>
        <div>
            <label for="status">
                Status:
            </label>
            <select name="status" id="status">
                <option value="Complete">Complete</option>
                <option value="In_Progress">In Progress</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>
        <div>
            <input type="hidden" value="{{ session['id'] }}" id="user_id" name="user_id">
        </div>
        <button type="submit">Submit</button>
    </form>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>